.container-bar {
    background-color: #FFFFFF;
    /*border-bottom: #e2e2e2;*/
    border-right: 1px solid #e8e8e8;
    height: 100%;
    width: 50px;
    position: fixed;
}
.bar-max { padding: 5px 20px 50px 10px; } 

.row-option {
    display: flex;
    width: 100%;
    padding-top: 5px;
    cursor: pointer;
}

.toggle-option {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #666666;
    opacity: 0.7;
}
.toggle-option:hover {
    opacity: 1;
}

.icon-sidebar.head {
    display: none;
    font-size: 20px;
    font-family: jonah;
}

.row-bar {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: #242424;
}
.row-bar:hover { background-color: #888888; }

.col-posi {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #878787;
}

.col-name {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.col-logo {
    width: 20%;
    display: flex;
    align-items: center;
}
.mini { width: 100% !important; }

hr.dividerBar { 
    margin: 0 !important;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}