.container-page {
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.container-bar {
    background-color: #999;
    height: 100px;
    width: 150px;
}
.bar-max { width: 150px; }

.container-body {
    background-color: #6b6;
    height: 100px;
    width: 100%;
}